.pull-left {
    float: left;
}
.content {
    float: left;
    width: 60vw;
    padding-left: 5vw;
    padding-top: 5vh;
}
.bio_title {
    font-size: 2vw;
    font-weight: normal;
    line-height: 1;
}
.bio_text {
    background-color: #efff50;
    color: black;
    padding: 1vw;
    text-align: left;
}