@import '../base/vars.scss';

.footer {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  background: $secondary-color;
  z-index: 4;
  text-align: center;
  padding: 5px;
  color: white;

  > a {
    bottom: 7px;
    position: fixed;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
    &.github {
      right: 20px;
      background: url('icons/github.svg');
    }

    &.behanced {
      right: 60px;
      background: url('icons/behanced.svg');
    }

    &.linkedin {
      right: 100px;
      background: url('icons/linkedin.svg');
    }
  }

  > span {
    margin-top: 10px;
  }
}