@import '../base/vars.scss';

.work-header {
  font-family: 'Amatic SC', cursive;
  font-size:  3vw;
  color: white;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  font-weight: bold;
  top: 5vh;
  > a {
    color: white;
    &:hover {
        color: $primary-color;
    }
    > span {
        background-color: $highlighted-color;
    } 
  }
}

.project-tag {
  color: white;
  > span {
      background-color: $highlighted-color;
  } 
}

.m1 {
  left: 30%
}

.m2 {
  left: 55%
}

.m3 {
  left: 80%
}