@import '../base/vars.scss';

.intro {
  position: absolute;
  width: 25%;
  z-index: 3;
  background: $highlighted-color;
  padding: 1em;
  color: white;
  top: 5vh;

  > h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 3vh;
    font-weight: bold;
  }

  > p {
    color: white;
    > a {
      color: $primary-color;
    }
  }

}