@import '../base/vars.scss';

.p-thumbnail {
    padding: 2em;
    > a {
        position:relative;
        width:100%;
        text-decoration: none;
        @media screen and (max-width: $break-small) {
           display: inline;
        }
        @media screen and (min-width: $break-large) {
            display: flex; flex-flow: row;
        }
        > div  {
            width: 100%;
            > img {
                width: auto;
                height: auto;
                max-width: 100%;
            }
        }
        .project-info {
            text-align: center;
            padding: 2em;
            width: 100%;
            color: #000000;
            background: $secondary-color;
            .name {
                font-weight: bold;
                font-variant-caps: small-caps;
                font-size: 2em;
            }
            .date {

            }
        }
        .overlay {
            width:100%;
            height:100%;
            position:absolute;
        }
        &:hover {
            > .overlay {
                background-color:#000;
                opacity:0.1;
            }
        }
    } 
}