@import '../base/vars.scss';

.project-list {
    .list-intro {
        float: left;
        width: 18vw;
        padding: 1vw;
        height: -webkit-fill-available;
        div {
            width: $tag-title-size;
        }
        .title {
            height: $tag-title-size;
            background: $accent-color;
            position: relative;
            span {
                font-size: 3vh;
                font-weight: bold;
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 1vh
            }
        }
        .description {
            padding-top: 15px;
        }
    }
    .projects {
        width: 80vw;
        overflow-y: auto;
        height: -webkit-fill-available;
    }
}