@import '../base/vars.scss';

.p-thumbnail {
    padding: 2em;
    > a {
        position:relative;
        width:100%;
        text-decoration: none;
        background: black;
        @media screen and (max-width: $break-small) {
           display: inline;
        }
        @media screen and (min-width: $break-large) {
            display: flex; flex-flow: row;
        }
        > div  {
            background: white;
            > img {
                width: auto;
                height: auto;
                max-height: 100%;
            }
        }
        .project-info {
            text-align: center;
            padding: 2em;
            width: 100%;
            color: #000000;
            background: $secondary-color;
            .name {
                font-weight: bold;
                font-variant-caps: small-caps;
                font-size: 2em;
            }
            .date {

            }
        }
        &:hover {
            > div  {
                opacity: 0.8;
            }
        }
    } 
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: inherit;
  display: flex;
  align-items: center;
  background-color: black;
}

.wallpaper {
  width: 100%;
  height: 100%;
  position: absolute;
  min-height: inherit;
  opacity: .5;
  background: url(https://images.unsplash.com/photo-1440700265116-fe3f91810d72);
  background-size: cover;
  background-repeat: no-repeat;
}

.info-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  > .name {
    font-weight: 700;
    font-size: 7em;
  }
}

