@import '../base/vars.scss';

.project {
    background: white;
    overflow-y: auto;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    .modules {
        background: white;
        max-width: 60%;
        margin-left: 20vw;
        margin-top: 10vh;
        .module {
            text-align: center;
            padding: 1em;
            max-width: 90vw;
            .image {
                > img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                }
            }
            .text {
                text-align: left;
            }
            .embedded {
                color: transparent;
            }
        }
    }
}
