.rain {
  width: 20%;
  max-width: 400px;
  height: 100%;
  background: url('spritesheets/rain.png') left;
  background-repeat: repeat-y;
  animation: rain-play .8s steps(3) infinite;
  background-size: 300% 80px;
  position: fixed;

  &:hover {
    background: none;
  }
} 

.m1-sprite {
  width: 15%;
  max-width: 300px;
  margin-left: 2.5%;
}

.m2-sprite {
  width: 10%;
  max-width: 200px;
  margin-left: 5%;
}

.m3-sprite {
  width: 10%;
  max-width: 200px;
  margin-left: 5%;
} 

.girl {
  width: 20%;
  max-width: 400px;
}

.anim-container {
  overflow: hidden;
  z-index: 1;
  bottom: 30px;
  position: fixed;
  > img {
    width: 300%;
    animation: sprite-play .6s steps(3) infinite;
  }
}

@keyframes sprite-play {
	100% { margin-left: -300%; }
}

@keyframes rain-play {
	100% { background-position: -40vw; }
}
