/**
 * Common
 */

// Main colors
$secondary-color: #f4f4f4;
$accent-color: #efff50;

// Animation times
$cross-time: 0.3s;
$title-time: 0.1s;
$cross-size: 30vh;

// Title divs
$title-size: 15vh;
$title-margin : 10px;
$intro-size: 20vh;
$tag-title-size: 15vw;
